/* @import '~mdb-ui-kit/css/mdb.min.css'; */

/* temporary classes just for testing */

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

/* corrected existing classes, tags, etc. ... */

html,
body {
  /* min-height: 100vh; */
}

blockquote {
  border-left: 3px solid lightgray;
}

.accordion,
.card-body {
  background-color: #ffffff;
  border: 1px solid #dde0e6;
}

.accordion-body {
  /* padding-top: 0; */
  /* position: relative; */
}

.accordion-button:not(.collapsed) {
  color: #4f4f4f;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234f4f4f'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #2375e1;
}

/* brand new classes */

.wrapper {
  display: flex;
  background-color: #f4f7fb;
  /* min-height: 100vh; */
  /* flex-basis: 1000px; */
  /* flex-basis: 100%; */
}

.column-left {
  flex-basis: 100%;
}

.column-right {
  flex-basis: 50%;
}

.text-username {
  font-size: 1.5rem;
}

.text-userjob {
  color: rgba(0, 0, 0, 0.55);
}

.color-quotecaption {
  color: #757575;
}

.navbar {
  border-bottom: 1px solid #dde0e6;
}

.navbar-light .navbar-nav .highlighted-link {
  color: #2375e1;
  border-bottom: 4px solid #2375e1;
}

/* .navbar-nopaddings-y {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-margin-t-and-b {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
} */

.height-full {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#map1 {
  height: 400px;
}

.loader,
.loader:after {
  overflow: hidden;
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: absolute;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(101, 171, 248, 0.2);
  border-right: 1.1em solid rgba(101, 171, 248, 0.2);
  border-bottom: 1.1em solid rgba(101, 171, 248, 0.2);
  border-left: 1.1em solid #65abf8;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;

  top: 22%;
  left: 50%;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* .loader-bg-filler {
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  min-height: 300px;
} */
